.feedback-content-wrapper {
    padding: 24px 24px 48px 24px;
    .feedback-cards-wrapper {
        height: 754px;
        overflow-y: auto;
        scrollbar-width: none;
        margin-bottom: 106px;
        > :first-child {
            margin-top: 0;
        }
    }


}
