.feedback-content-wrapper {
    padding: 24px 24px 48px 24px;
    .feedback-cards-wrapper {
        height: 754px;
        overflow-y: auto;
        scrollbar-width: none;
        margin-bottom: 106px;
        > :first-child {
            margin-top: 0;
        }
    }
    .feedback-content-card {
        border-radius: 2px;
        padding: 16px;
        max-width: 1184px;
        min-height: 128px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
        background: var(--character-light-primary-inverse);
        margin-top: 20px;
        display: flex;
    }
    .avatar-wrapper {
        display: flex;
        width: 174px;
        height: 96px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .img {
            width: 42px;
            height: 42px;
            background-color: #2f54eb;
            border-radius: 50%;
        }
    }
    .feedback-card-rate {
        display: flex;
        .ant-rate-star-second {
            color: var(--character-light-warning);
        }
        .ant-rate-star {
            font-size: 16px;
        }
        .ant-rate-star:not(:last-child) {
            margin-right: 4px;
        }
    }
    .feedback-date {
        margin: 5px 0 0 16px;
        font-size: 12px;
        line-height: 130%;
        color: var(--character-light-disable-25);
    }
    .rate-date-wrapper {
        display: flex;
    }
    .right-elems-wrapper {
        max-width: 966px;
        margin-left: 12px;
    }
    .feedback-text {
        word-break: break-all;
        line-height: 130%;
        color: var(--character-light-secondary-45);
    }
}
