.calendar-wrapper {
    background: var(--primary-light-1);
    padding: 0 24px 93px 24px;
}
.error-training-list-modal-wrapper {
    .ant-modal-close-x {
        color: var(--character-light-secondary-45);
    }
    .ant-modal-confirm-title {
        margin-right: 40px;
        font-weight: 400;
    }
    .ant-modal-confirm-content {
        color: var(--character-light-secondary-45);
    }
    .ant-modal-confirm .ant-modal-confirm-btns {
        margin-top: 16px;
        justify-content: flex-end;
    }
}
.cell-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
}
