.calendar-wrapper {
    background: var(--primary-light-1);
    padding: 0 24px 93px 24px;
}
/*.ant-modal-wrap.test-class {
    position: absolute;
    top: 100px;
    right: 50px;
    left: 100px;
    bottom: 100px;
    overflow: hidden;
}*/
