.ant-layout-sider {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}
.ant-layout-header {
    background: var(--primary-light-1);
    height: 168px;
    width: 1232px;
    padding: 16px 24px;
}

.ant-layout-content {
    height: 1024px;
    background-image: url('../../assets/background-img/MainPage_light.png');
}

.centerContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
