.ant-layout {
    max-width: 1440px;
    height: 1024px;
    background-image: url('../../assets/background-img/MainPage_light.png');
}
.ant-menu-inline {
    border-right: none;
}
.ant-menu-vertical {
    border-right: none;
}
.ant-layout-header {
    background: var(--primary-light-1);
    height: 168px;
    padding: 16px 24px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: white;
}
.centerContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn-trigger {
    border:none;
    background: none;
    padding: 0;
    position: absolute;
    top: 479px;
    cursor: pointer;
}

