.auth-wrapper {
    max-width: 1440px;
    height: 1024px;
    background-image: url('../../assets/background-img/Auth-page-light-blur.png');
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-entry-form {
    font-family: var(--font-family);
    border-radius: 2px;
    width: 539px;
    height: 742px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}
.entry-form {
    width: 368px;
    height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 48px;
}


@media screen and (max-width: 834px) {
    .auth-wrapper {
        max-width: 833px;
        height: 1194px;
        background-position: center;
        background-size: cover;
        align-items: normal;
    }
    .wrapper-entry-form {
        margin-top: 200px;
    }
}
@media screen and (max-width: 360px) {
    .auth-wrapper {
        width: 360px;
        height: 800px;
    }
    .wrapper-entry-form {
        width: 328px;
        height: 612px;
        padding-top: 32px;
        margin-top: 90px;
    }
    .entry-form {
        width: 296px;
        height: 374px;
        margin-top: 32px;
        align-items: normal;
    }
}
