.ant-layout-sider {
    li:last-child {
        margin-top: 665px;
        box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
    }
}
@media screen and (max-width: 834px) {
    .ant-layout-sider {
        li:last-child {
            margin-top: 835px;
        }
    }
}
@media screen and (max-width: 360px) {
    .ant-layout-sider {
        li:last-child {
            margin-top: 342px;
        }
    }
}
