.error-message-modal {
    font-family: var(--font-family);
    border-radius: 2px;
    width: 539px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0 64px 0;
}
.modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 368px;
}
.message-header {
    font-weight: 500;
    font-size: 24px;
    margin: 24px 0 0 0;
}
.message-descr {
    color: var(--character-light-secondary-45);
    margin-bottom: 24px;
    text-align: center;
}
@media screen and (max-width: 834px) {
    .error-message-modal {
        margin-top: 424px;
    }
}
@media screen and (max-width: 360px) {
    .error-message-modal {
        margin-top: 259px;
        width: 328px;
        height: 281px;
    }
    .modal-wrapper {
        width: 296px;
    }
}
