.ant-layout {
    max-width: 1440px;
    height: 1024px;
    background-image: url('../../assets/background-img/MainPage_light.png');
    background-size: auto 100%;
    margin: var(--center-margin);
    .ant-layout-header {
        background: var(--primary-light-1);
        height: 168px;
        padding: 16px 24px;
    }
}
.ant-menu-inline {
    border-right: none;
}
.ant-menu-vertical {
    border-right: none;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: white;
}
.centerContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ant-typography .main-header-text {
    font-weight: var(--font-weight-lg);
    line-height: 130%;
}
.header-with-content {
    height: 168px;
}

.header-without-content {
    height: 100px;
}

@media screen and (max-width: 1024px) {
    .ant-typography .main-header-text {
        font-size: var(--font-size-xl);
    }
}

@media screen and (max-width: 834px) {
    .ant-layout {
        background-position: center;
        height: 1355px;
    }
    .ant-layout-header {
        height: 194px;
    }
    .collapsed-style-header {
        height: 132px;
    }
}

@media screen and (min-width: 834px) and (max-width: 1024px) {
    .ant-typography .main-header-text {
        font-weight: var(--font-weight-md);
        font-size: var(--font-size-xl);
    }
}
@media screen and (max-width: 360px) {
    .ant-layout {
        height: 1355px;
    }
    .ant-layout-sider {
        position: absolute;
    }
    .btn-trigger {
        top: 24px;
        left: 105px;
        transition: all 0.2s;
    }
    .ant-layout-header {
        height: 166px;
    }
}
@media screen and (min-width: 300px) and (max-width: 834px) {
    .ant-typography .main-header-text {
        font-size: var(--font-size-lg);
    }
}
