.ant-tabs-tab, .ant-tabs-tab-active {
    display: flex;
    width: 184px;
    justify-content: center;
}
.ant-tabs-nav-list {
    width: 368px;
}
.ant-form-item-explain-error {
    font-size: var(--font-size-small);
}
.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    margin-top: 24px;
}
.ant-tabs-content {
    width: 368px;
}
.ant-tabs-content-holder {
    display: flex;
    justify-content: center;
}
.ant-btn {
    height: 40px;
}
.ant-form-item-explain {
    font-size: var(--font-size-small);
}
span.google-icon {
    margin-right: 8px;
}
@media screen and (max-width: 360px) {
    .ant-tabs-nav-list {
        width: 296px;
    }
    .ant-tabs-tab, .ant-tabs-tab-active {
        width: 148px;
    }
    .ant-tabs-nav {
        width: 296px;
    }
    .ant-form-item-control-input {
        width: 296px;
    }
    span.google-icon {
        display: none;
    }
}
