.app-usage-item-wrapper {
    width: 752px;
    height: 101px;
    margin: 16px 0 0 24px;
    display: flex;
    justify-content: space-between;
}
.app-usage-item {
    width: 240px;
    height: 101px;
    background: var(--character-light-primary-inverse);
    border-radius: var(--border-radius-default);
}
.item-title {
    height: 45px;
    border-bottom: 1px solid;
    border-bottom-color: var(--character-light-dividers);
    display: flex;
    justify-content: var(--align-center);
    align-items: var(--align-center);
}
.item-btn-wrapper {
    display: flex;
    height: 55px;
    justify-content: var(--align-center);
    align-items: var(--align-center);
}
.ant-btn-link {
    color: var(--primary-light-6);;
}
.bottom-content-wrapper {
    margin-top: 24px;
    padding: 0 24px;
    height: 283px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .ant-btn-link {
        font-size: var(--font-size-md);
    }
}
.download-section {
    border-radius: var(--border-radius-default);
    width: 240px;
    height: 127px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
    background: var(--character-light-primary-inverse);
}
.download-link-descr {
    height: 71px;
    border-bottom: 1px solid;
    border-bottom-color: var(--character-light-dividers);
    display: flex;
    justify-content: var(--align-center);
    flex-direction: column;
    .ant-btn-text {
        color: var(--character-light-secondary-45);
    }
}
.os-links {
    height: 55px;
    display: flex;
    align-items: var(--align-center);
}

@media screen and (max-width: 834px) {
    .app-usage-item-wrapper {
        width: 578px;
        height: 122px;
    }
    .app-usage-item-wrapper.collapsed {
        width: 722px;
        height: 101px;
    }
    .app-usage-item {
        width: 182px;
        height: 122px;
        .item-title {
            height: 66px;
            padding: 0 25px;
        }
    }
    .app-usage-item.collapsed {
        width: 230px;
        height: 101px;
        .item-title {
            height: 45px;
        }
    }
    .bottom-content-wrapper {
        height: 364px;
    }
    .bottom-content-wrapper.collapsed {
        height: 489px;
    }
}
@media screen and (min-width: 300px) and (max-width: 834px) {
    .app-usage-item-wrapper, .app-usage-item-wrapper.collapsed {
        flex-direction: column;
        width: 328px;
        height: 319px;
        margin: 16px 0 0 16px
    }
    .app-usage-item, .app-usage-item.collapsed {
        width: 328px;
        height: 101px;
        .item-title {
            height: 45px;
        }
    }
    .bottom-content-wrapper, .bottom-content-wrapper.collapsed {
        width: var(--media-screen-width-sm);
        height: 191px;
        flex-direction: column-reverse;
        align-items: var(--align-center);
    }
}
