.wrapper-change-password-form {
    font-family: var(--font-family);
    border-radius: 2px;
    width: 539px;
    height: 419px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    .ant-btn {
        height: 40px;
    }
    .ant-form-item-explain {
        font-size: var(--font-size-small);
    }
}
.change-password-form {
    width: 368px;
    height: 291px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal-header {
    font-weight: 500;
    font-size: 24px;
}
@media screen and (max-width: 360px) {
    .wrapper-change-password-form {
        width: 328px;
        height: 386px;
        padding-top: 32px;
    }
    .change-password-form {
        width: 296px;
        height: 322px;
        align-items: normal;
    }
    .modal-header {
        text-align: center;
    }
}
