@import 'antd/dist/antd.css';
@import 'src/variables.scss';
* {
    margin: 0;
}
html, body {
    width: 1440px;
    margin: var(--center-margin);
    font-family: var(--font-family);

}
p {
    margin-bottom: 0;
}
.ant-layout {
    background-image: url('assets/background-img/MainPage_light.png');
    background-size: auto 100%;
}
.ant-result {
    padding: 0;
}
.ant-result-title {
    font-weight: var(--font-weight-md);
    line-height: 130%;
}
.ant-result-info .ant-result-icon > .anticon {
    color: var(--primary-light-6);
}
.ant-input-group-wrapper-status-error .ant-input-group-addon {
    color: var(--character-light-title-85);
}
.ant-btn-primary {
    height: 40px;
    background: var(--primary-light-6);
}
.ant-btn-default {
    height: 40px;
}
.ant-btn-link {
    color: var(--primary-light-6);
}
a.ant-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
textarea.ant-input {
    margin-top: 16px;
}
.ant-modal-footer {
    padding: 10px 24px;
}
.ant-rate-star-second, .ant-rate-star-full {
    color: var(--character-light-warning);
}
.ant-rate-star:not(:last-child) {
    margin-right: 4px;
}
.feedback-card-rate {
    .ant-rate-star {
        font-size: 16px;
    }
}
.modal-rate {
    .ant-rate-star {
        font-size: 20px;
    }
}
.ant-modal-confirm .ant-modal-body {
    padding: 64px 85px;
}
.ant-modal-confirm-btns {
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 834px) {
    html, body {
        width: 834px;
    }
}
@media screen and (max-width: 360px) {
    html, body {
        width: 360px;
    }
    .ant-layout-sider {
        position: absolute;
    }
    .ant-modal-footer {
        padding: 10px 16px;
    }
    .ant-modal-body {
        padding: 24px 16px;
    }
    .ant-modal-confirm .ant-modal-body {
        padding: 32px 16px;
    }
}
