@import 'antd/dist/antd.css';
@import 'variables.css';

html, body {
    width: 1440px;
    margin: var(--center-margin);
    font-family: var(--font-family);
}
.ant-result {
    padding: 0;
}
.ant-result-title {
    font-weight: var(--font-weight-md);
    line-height: 130%;
}
.ant-result-info .ant-result-icon > .anticon {
    color: var(--primary-light-6);
}
@media screen and (max-width: 834px) {
    html, body {
        width: 834px;
    }
}
@media screen and (max-width: 360px) {
    html, body {
        width: 360px;
    }
}
