:root {
    --primary-light-1: #f0f5ff;
    --primary-light-9: #061178;
    --primary-light-6: #2f54eb;
    --primary-light-5: #597ef7;
    --character-light-primary-inverse: #fff;
    --character-light-secondary-45: #8c8c8c;
    --character-light-dividers: #f0f0f0;
    --character-light-title-85: #262626;
    --character-light-border: #d9d9d9;
    --character-light-error: #ff4d4f;
    --character-light-warning: #faad14;
    --character-light-disable-25: #bfbfbf;
    --font-family: "Inter", sans-serif;
    --font-size-small: 12px;
    --font-size-md: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-weight-md: 500;
    --font-weight-lg: 700;
    --center-margin: 0 auto;
    --zero-padding: 0;
    --zero-margin: 0;
    --btn-height: 40px;
    --media-screen-width-sm: 360px;
    --media-screen-width-md: 834px;
    --media-screen-width-lg: 1440px;
    --default-line-height: 130%;
    --break-all-word: break-all;
    --avatar-size-sm: 42px;
    --align-center: center;
    --border-radius-default: 2px;
}
