:root {
    --primary-light-1: #f0f5ff;
    --primary-light-9: #061178;
    --primary-light-6: #2f54eb;
    --character-light-primary-inverse: #ffffff;
    --character-light-secondary-45: #8c8c8c;
    --character-light-dividers: #f0f0f0;
    --character-light-title-85: #262626;
    --font-family: "Inter", sans-serif;
}
