.header-wrapper {
    display: flex;
    justify-content: space-between;
}
.ant-typography .main-header-text {
    font-weight: 700;
    line-height: 130%;
    margin-top: 0;
}
@media screen and (max-width: 1024px) {
    .ant-typography .main-header-text {
        font-size: 24px;
    }
}
@media screen and (min-width: 834px) and (max-width: 1024px) {
    .ant-typography .main-header-text {
        font-weight: 500;
        font-size: 24px;
    }
}
@media screen and (min-width: 300px) and (max-width: 834px) {
    .ant-typography .main-header-text {
        font-size: 20px;
    }
}
